
<div class="main-container">

    <mat-toolbar>
        <div class="nav-name">

            <span>My Application</span>
        </div>
        <div class="nav-menu">

            <button mat-button>Service</button>
            <button mat-button>About Us</button>
        </div>
        <div class="user-btn">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>person</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item> Logout
                </button>
                <button mat-menu-item>
                    Login
                </button>
            </mat-menu>
        </div>
    </mat-toolbar>

</div>