
<mat-card class="state-tag" >
    Places Near city
</mat-card>
<mat-card class="display-container"  fxLayout="row" fxLayoutGap="10">
    <div >
        <mat-card class="mat-card-state">
            
            <div class="state-title" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 2%;">
                <img class="img" src="../../../assets/Image/maharastra.jpg" alt="" >
                <div class="title-tag">
                    <mat-card-title style="margin-top: 6px; color: wheat;" fxLayoutAlign="space-around center">zoo</mat-card-title>
                </div>
            </div>
        </mat-card>
    </div>     
    
</mat-card>
